ws/src/main/webapp/WEB-INF/schemas/reward-network.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.springsource.com/reward-network" xmlns:r="http://www.springsource.com/reward-network"
	elementFormDefault="qualified">

	<!-- TODO 1: Insert your generated definition of rewardAccountForDiningRequest here -->

	<xs:element name="rewardAccountForDiningResponse">
		<xs:complexType>
			<xs:attribute name="confirmationNumber" type="xs:string" />
			<xs:attribute name="accountNumber" type="xs:string" />
			<xs:attribute name="amount" type="xs:decimal" />
		</xs:complexType>
	</xs:element>
 
</xs:schema>